.vantext{
  /* color: rgb(0, 0, 0);
  font-family:"Helvetica";
  font-weight: bold;
  font-size: 15vw;
  padding-top: 10px;
  margin-bottom: 0px;
  margin-top: 90px;
  line-height: 60%;
    text-align: right; */
    font-size: 15vw;
  line-height: 1.6;
  /* text-align: justify; */
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(0, 0, 255);
  margin-bottom: 0px;
  margin-top: 0px;
  
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color:transparent;
  border: 1px solid white;
  padding: 30px;
  font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}

  .vanA{
    line-height: 1.6;
    /* text-align: justify; */
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(0, 0, 255);
    margin-bottom: 0px;
    font-size: 15vw;
    margin-top: 0px;
    margin-left: 25vw;
    
    }

.kangtext{
  /* color: rgb(0, 0, 0);
  font-family:"Helvetica";
  font-weight: bold;
  font-size: 15vw;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;  
  text-align: right; */
  font-size: 15vw;
  line-height: 1.6;
  text-align: justify;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
}

body{
  background-color:rgb(255, 255, 255);
}
h1{
  font-family:"Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10vw;
}
.sideharmonic {
  font-family:"Helvetica";
  color: rgb(0, 0, 0);
  align: right;
  position: absolute;
  right:30px;
  top:15px;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
  border-bottom: 3px solid black;
}
.textalign{
  text-align: justify;
}
.line1
{
  /* If I want the text to be on the top right hand side/* align: right; */
  /* position: absolute;
  right:0px;
  top:0px; */
  line-height: 190%;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 14px;
}

ul{
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: rgb(111, 108, 98);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:rgb(0, 0, 0) ;
  background-color: transparent;;
}

a:hover {
  color:gray;
  background-color: transparent;
  ;
  }
  
  .socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  .socials a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .socials a:hover {
    background-color: #555;
    color: white;
  }

  .colorchange:hover {
    background-color: blue;
    }

  
    ul{
      padding-left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
      
    nav a{
      flex: auto;
      display: inline-block;
      text-align: left;
      position: relative;
      color: black;
      margin-left:50px;
      margin-right: 0px;
      padding:0px;
      text-decoration: none;
      }

      nav{
        display: flex;
        background-color: #fff;
        padding: 10px;
      }
    