body {
   margin: 40px;
}


 .bodytext {
            color: black;
            font-size: 16px;
            font-weight: 400;
            font-style: normal; 
            margin: 6rem;
             width: 70%; 
        }
.marginsnew 
        {
          width: 66%; 
        }
        
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
  }
  .marginswhiteonblack
  {
    width: 72%; 
    width: 30vw;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
  }
 
    .navbar {
      display: flex;
      justify-content: space-between;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 20px;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    nav{
      display: flex;
      background-color: #fff;
      padding: 10px;
    }
    
    ul{
      padding-left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    a:link {
      color: rgb(111, 108, 98);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color:rgb(255, 255, 255) ;
      background-color: transparent;;
    }
    
    a:hover {
      color:gray;
      background-color: transparent;
      ;
      }