
body {
}
.margins 
{
  margin-left: 10%; 
  width: 50%; 
  
}
.margin1
{
    margin-left: 10%;  
            }
 .bodytext {
            color: black;
            font-size: 16px;
            font-weight: 400;
            font-style: normal; 
            margin: 6rem;
             width: 70%; 
        }
span{
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}
.heading{
  font-size: 160px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18vh;
 }
 .heading2{
  font-size: 160px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18vh;
 border-top: 16vh;
 }

.down{
  top: 30vh;
}
.bluecolorblock {
  background-color: rgb(0, 0, 255);
  opacity: 60%;
  z-index: -2;
  transform: rotate(40deg);
  position: absolute;
  top: -30px;
  height: 4000px;
  left: 0;
  width: 15%;  
}
/* .pinkcolorblock {
  background-color: rgb(255, 0, 230);
  opacity: 60%;
  position: absolute;
  top: 0px;
  height: 2000px;
  left: 80;
  width: 9%;  
  z-index: -5;
} */
.yellowcolorblock {
  background-color: rgb(255, 255, 0);
  opacity: 100%;
  transform: rotate(80deg);
  position: absolute;
  top: 0px;
  height: 2600px;
  width: 15%;  
  z-index: -3;
}

#circle {
  width: 150px;
  height: 150px;
  background: rgb(255, 247, 0);
  border-radius: 50%
}
  
#triangle-topright {
  
  border-top: 300px solid rgb(255, 0, 230);
  opacity: 90%;
  border-left: 300px solid transparent;
  right: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  }

.marginsnew 
        {
          position: relative;
          display: block;
          padding-top:0px;
          width: 40vw;
          /* margin-right: 80px; */
          font-size: 13px;
          line-height: 1.6;
          text-align: justify;
          font-family: 'IBM Plex Mono', monospace;
        }
      
.center {
        margin: auto;
    }
.vanessa {
    width:30%; 
}

.imageposition{
  top:18vh ;
  position: absolute;
}
.visible-mobile{
display: none;
}
.invisible-mobile{
  display: block;
  /* z-index: 2 */
}
.isfreedom{
  top:43vh ;
}
.flexparent{
  display: flex;
  width: 100vw;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}
.harmonic{
  display: flex;
  width: 100vw;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 800px)  {
  .marginsnew {
    /* top:200px; */
    width: 60vh;
    margin-right: 10px;
    font-size: 10px;
    line-height: 1.3;
    text-align: justify;
    
  }
}
@media only screen and (max-width: 600px)  {
  .marginsnew {
    position: relative;
    /* top:200px; */
    width: 60%;
    margin-right: 10px;
    /* font-family: 'helvetica';  */
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    /* z-index:3; */
  }
  .visible-mobile
  {
    display: block;
    }
  .invisible-mobile
  {
    display: none;
    }
}