body {
   margin: 40px;
}
.blue{
    font-size: x-large;
}
a{
    text-decoration: none;
}
.margins 
{
  width: 50%; 
}
.margin1
{
    margin-left: 10%;  
  }
.appletext{
    width: 30%;
}
.button:hover {
  transition-duration: 0.7s;
  background-color: gainsboro;
}
.button2:hover {
  transition-duration: 0.7s;
  background-color:gainsboro;
    }
.button3:hover {
  transition-duration: 0.7s;
  background-color: gainsboro;
        }
.button4:hover {
  transition-duration: 0.7s;
  background-color: gainsboro;
          }
.button5:hover {
  transition-duration: 0.7s;
  background-color: gainsboro;
            }
 .bodytext {
            color: black;
            font-size: 16px;
            font-weight: 400;
            font-style: normal; 
            margin: 6rem;
             width: 70%; 
        }
.marginsnew 
        {
          width: 66%; 
        }
.center {
        margin: auto;
    }
.vanessa {
    width:30%; 
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
  }
  .marginswhiteonblack
  {
    width: 72%; 
  }
  .typographytitle
    {
      font-family: 'timesnewroman';
      font-size: 130px;
      transform: rotate(-90deg);
    }
 

    
.navbar {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 14px;
}
    ul{
      padding-left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
      
    nav a{
      flex: auto;
      display: inline-block;
      text-align: left;
      position: relative;
      color: black;
      margin-left:50px;
      margin-right: 0px;
      padding:0px;
      text-decoration: none;
      }

      /* nav{
        display: flex;
        background-color: #fff;
        padding: 10px;
        text-decoration: none;
      }
     */

     a:link {
      color: rgb(111, 108, 98);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color:rgb(0, 0, 0) ;
      background-color: transparent;;
    }
    
    a:hover {
      color:gray;
      background-color: transparent;
      ;
      }

      h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30pt;
        font-weight: 600;
      }
      
      .flex-box{
        display:flex;
        justify-content: space-between;
        font-size: 12pt;
      }      
